<div class="body">
  <input type="radio" name="position" checked />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <main id="carousel">
    <div class="item">
      <h3>Players Turn</h3>
      <p>
        The player who begins picks up all the stones in any of his own six
        pits, and sows the stones on to the right, one in each of the following
        pits, including his own big pit. No stones are put in the opponents' big
        pit.
      </p>
    </div>
    <div class="item">
      <h3>Repeat turn</h3>
      <p>
        If the player's last stone lands in his own big pit, he gets another
        turn. This can be repeated several times before it's the other player's
        turn.
      </p>
    </div>
    <div class="item">
      <h3>Capturing Stones</h3>
      <p>
        Always when the last stone lands in an own empty pit, the player
        captures his own stone and all stones in the opposite pit and puts them
        in his own mancala.
      </p>
    </div>
    <div class="item">
      <h3>The Game Ends</h3>
      <p>
        The game is over as soon as one of the sides runs out of stones. The
        player who still has stones in his pits keeps them and puts them in his
        big pit.
      </p>
    </div>
    <div class="item">
      <h3>Winner</h3>
      <p>
        The winner of game is the player who has the most stones in his big pit.
      </p>
    </div>
    <main></main>
  </main>
</div>
